@charset "UTF-8";
body {
    margin: 0; 
    padding: 0;
}
.back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    filter: brightness(0.5);
    background: url(16.jpg) no-repeat center/cover;
    z-index: -1;
}
h1 {
    color:#fff;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 250px;
    position: relative;
    z-index: 1;
}



